*{
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: grey;
}

.container{
    background-color: beige;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.leftcon{
    display: flex;
    gap: 30px;
    align-items: center;
}

.logo{
    font-weight: 1000;
    font-size: 40px;
}

.links>ul{
    display: flex;
    gap: 10px;
    color: blue;
}

.rightcon{
    display: flex;
    gap: 30px;
    align-items: center;
}

.notif{
    border: 2px solid blue;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    color: white;
    background-color: blue;
}

.circle{
    width: 50px;
    height: 50px;
    border: 2px solid blue;
    border-radius: 50%;
    background-color: blue;
}